.title_wrapper {
  display: flex;
  align-items: center;
  gap: var(--pd20);
  margin: var(--pd20) 0;
}
.title_today {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-light-yellow);
}
.words_module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--pd20);
  max-width: 220px;
}