.statistics_wrapper {
  display: flex;
  gap: var(--pd40);
  max-width: 1200px;
  position: relative;
}
.user {
  position: absolute;
  right: 0px;
}
.title_wrapper {
  display: flex;
  align-items: center;
  gap: var(--pd20);
  margin: var(--pd20) 0;
}
.title_today {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-light-yellow);
}
.words_module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--pd20);
  width: 260px;
}
.game_wrapper {
  display: flex;
  align-items: center;
  width: 260px;
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  padding: var(--pd10) var(--pd20);
}
@media (max-width: 1366px) {
  .statistics_wrapper {
    max-width: 900px;
    flex-wrap: wrap;
  }
  .user {
    right: -240px;
  }
}
@media (max-width: 1200px) {
  .statistics_wrapper {
    max-width: 800px;
    flex-wrap: wrap;
  }
  .user {
    right: -40px;
  }
}
@media (max-width: 1024px) {
  .statistics_wrapper {
    max-width: 400px;
    flex-wrap: wrap;
    gap: var(--pd20);
  }
  .user {
    right: -190px;
  }
}
@media (max-width: 768px) {
  .statistics_wrapper {
    max-width: 300px;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--pd20);
    margin-inline: auto;
  }
  .game_wrapper,
  .words_module {
    width: 300px;
  }
  .title_wrapper {
    justify-content: end;
  }
  .user {
    top: var(--pd90);
    right: 0px;
  }
}