.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    gap: 20px;
    width: 816px;
    height: 60px;
    margin-bottom: 44px;


}

.btn {
    width: 40px;
    height: 40px;
    color: #875DFE;
    background: linear-gradient(135deg, #343A55 0%, #404869 100%);
    opacity: 0.95;
    box-shadow: -2px -2px 20px rgba(85, 93, 131, 0.56), 16.736px 16.736px 37.656px rgba(54, 59, 87, 0.2), inset 2.092px 2.092px 2.092px rgba(38, 49, 105, 0.05), inset -2.092px -2.092px 8.368px rgba(83, 92, 136, 0.12);
    border-radius: 43.932px;
}
.pageButtonsContainer{
    display: flex;
    gap: 20px;
}

.active{
    color: azure;
}