.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1050px;
    text-align: left;
}

.wrapper_QuickStartGame {
    position: fixed;
    z-index: 5;
    right: 50px;
    top: 520px;

}