.wrapper {
  margin-top: var(--pd30);
  position: relative;
}

.wrapper_bottom {
  display: flex;
  align-items: center;
  display: flex;
  max-width: 1440px;
  padding-top: 150px;
}

.card {
  width: 100%;
  max-width: 1440px;
  padding: 50px;
  display: flex;
  column-gap: 50px;
  justify-content: space-between;
  position: relative;
}

.avatar_wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--color-bright-yellow);
}

.avatar {
  height: 100%;
}

.upload_avatar {
  position: relative;
  width: max-content;
}

.loader_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  padding: 20px 30px;
  color: var(--color-bright-yellow);
}

.btn_delete {
  align-self: flex-end;
}

.hide {
  visibility: hidden;
}

.avatar_section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: max-content;
}

.userInfo_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  row-gap: 20px;
  position: relative;
  width: max-content;
}

.pic {
  position: absolute;
  bottom: calc(100% - 40px);
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 1024px) {
  .card {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 50px;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 30px 10px;
  }
  .wrapper {
  margin-top: 100px;
  padding: 0 10px;
  position: relative;

  }
  .wrapper_bottom {
    padding-top: 300px;
  }
}

@media (max-width: 500px) {
 .userInfo_wrapper {
    align-items: center;
  }
}
