.footer {
  background: linear-gradient(285.91deg, #2B2F48 29.89%, rgba(51, 62, 91, 0.83) 129.82%);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rocket_img {
  max-width: 280px;
}
.rocket_img img {
  max-width: 100%;
}
.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: var(--pd20);
}
.team_link_span {
  display: block;
}
.team_links,
.nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: var(--pd10);
}
.copyright {
  background-color: var(--color-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--pd20);
  height: 76px;
}