.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.title {
  padding-bottom: 11px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #CEC485;
}

.item {
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}

.right {
  padding-bottom: 9px;
  color: var(--color-green);
}

.wrong {
  color: var(--color-red);
  padding-bottom: 18px;
}