.table {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  grid-template-rows: repeat();
  column-gap: 50px;
  row-gap: 10px;
  height: max-content;
  flex: 1;
}

.section__title {
  color: var(--color-green);
}

.title {
  grid-column : span 3;
  padding-bottom: 10px;
  border-bottom: 1px var(--color-yellow) solid;
}

.title__wrong {
  color: var(--color-red);
}

.title__right {
  color: var(--color-green);
}

.counter {
  color: var(--color-yellow);
}