.table {
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  height: max-content;
  width: 50%;
}

.section__title {
  color: var(--color-green);
}

.title {
  grid-column : span 3;
}

.title__wrong {
  color: var(--color-red);
}

.title__right {
  color: var(--color-green);
}

.counter {
  color: var(--color-yellow);
}