.words_learned {
  display: flex;
  align-items: center;
  gap: var(--pd10);
  border-radius: var(--border-radius);
  background-color: var(--color-blue);
  padding: var(--pd10) var(--pd20);
}
.words_learned_value {
  color: var(--color-bright-yellow);
  font-size: 40px;
  font-weight: 700;
}
.words_learned_text {
  font-size: 18px;
  color: var(--color-secondary);
  font-weight: 600;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}