.pre_wrapper {
  width: max-content;
  align-self: flex-end;
  padding-bottom: 106px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.img__wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.img {
  height: 100%;
}

.word {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 113px 0 33px;
}

.plug {
  position: absolute;

}