.pre_wrapper {
  align-self: flex-end;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--pd20);
  overflow: hidden;
}
@media (max-width: 768px) {
  .pre_wrapper {
    align-self: flex-start;
  }
  .wrapper,
  .wrapper span,
  .pre_wrapper,
  .pre_wrapper span {
    width: 100%;
  }
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper button {
    align-self: flex-end;
  }
}