.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--pd90);
  justify-content: center;
  max-width: 768px;
  padding: var(--pd30) 0;
}
@media (max-width: 768px) {
  .wrapper {
    padding-left: 0;
    gap: var(--pd50);
  }
}