.wrapper {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin-right: 50px;
  column-gap: 9px;
  align-items: flex-end;
}

.img__wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  filter: drop-shadow(-4px 4px 6px rgba(149, 155, 165, 0.3));
  background-color: #FFC727;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.btn {
  cursor: pointer;
  width: 212px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: 100%;
}

.input {
  display: none;
}

.plug {
  height: 50px;
}