.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  position: relative;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg_img {
  opacity: 0.7;
  border-radius: 6px 30px 30px 6px;
  width: 360px;
  height: 360px;
  background-color: var(--color-white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  left: 81%;
}

.frame {
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 34px 18px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.25);
  border-radius: 30px 6px 6px 30px !important;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 30px;
}

.results_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title_wrapper {
  display: flex;
  /* padding: 34px 84px 38px 80px; */
  align-items: center;
  column-gap: 24px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  left: -12px;
  display: block;
  width: 2px;
  height: 37px;
  background-color: var(--color-bright-yellow);
  top: 50%;
  transform: translateY(-50%);
}

.accuracy {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.number {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.diagram_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  align-items: center;
  justify-content: space-between;
}

.results_wrapper {
  width: 100%;
}

.points_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.points_wrapper::after {
  content: "";
  position: absolute;
  bottom: -0.5px;
  width: 100%;
  border-bottom: 2px dashed #FCD051;
  left: 50%;
  transform: translate(-50%);
}