.word {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  width: 300px;
  text-align: center;
}

.word_hide {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  width: 300px;
  color: transparent;
}