.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(296.82deg, #2B2F48 0%, rgba(51, 62, 91, 0.83) 100%);
}
.login_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  max-width: 1050px;
  height: 630px;
}
.form {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: var(--pd20);
  margin-right: 50px;
}
.form_icon {
  width: 20px;
  height: 20px;
}
@media (min-width: 1200px) {
  .login_wrapper {
    background-image: url('../../assets/img/login/login-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}