@import url(style/reset.css);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

:root {
  --color-blue: #404869;
  --color-darkblue: #303850;
  --border-radius: 30px;
}  

body {
  margin: 0;
  font-family: 'Comfortaa';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-darkblue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid lime;
}

.frame {
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
}