.img__wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.img {
  height: 100%;
  position: absolute;
  z-index: 0;
}

.plug {
  position: absolute;
  z-index: 5;
}

.plug_dis {
  position: absolute;
  z-index: -1;
}