.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    top: var(--header-height);
    align-items: center;
    padding: 10px 16px;
    gap: 16px;
}

.btn {
    background: #404869;
    box-shadow: 10px 10px 80px rgba(63, 39, 102, 0.1);
    border-radius: 24px;
    width: 240px;
    height: 48px;
    color: #fff;
}