.wrapper {
    position: fixed;
    z-index: 5;
    display: flex;
    width: 240px;
    height: 202px;
    flex-direction: column;
    right: 50px;
    top: 530px;
    align-items: center;
    padding: 10px 16px;
    gap: 16px;
}

.title {
    font-weight: 500;
    line-height: 140%;
    color: #959BA5;
}

.btn {
    display: flex;
    align-items: center;
    padding-left: 15px;
    background: #404869;
    border-radius: 24px;
    width: 240px;
    height: 57px;
    gap: 20px;
    color: #ffffff;
}

.boundary {
    width: 2px;
    height: 37px;
    background-color: #FCD051;
    border-radius: 1px;
}